@media all and (min-width: 780px){
    .main_con_border {
        margin:0 -1% 0 0;
    }

    main .main_con {
        width: 49%;
        float: left;
    }


    .nav > ul {
        margin: 0 -1% 0 0;
    }

    .nav > ul > li {
        margin: 0 1% 10px  0;
    }

    .nav > ul > li {
        width: 49%;
        height: 320px;
        font-size: 1rem;
    }

    .nav > ul > li > a > figure {
        font-size: 1rem;
    }

    .main_con_border > .main_con > ul {
        height:241px;
    }

    .main_img .main_wrap {
        width: 60%;
    }
}